.navbar-title {
    font-family: 'Rubik', sans-serif;
    letter-spacing: -0.15rem;
    font-size: 1.75rem;
}

@media screen and (min-width: 768px) {
    header .nav-link:hover {
        transform: scale(1.2);
        transition: all 0.1s ease-in-out;
    }
}

.navbar-toggler-icon {
    filter: invert(84%) sepia(32%) saturate(3313%) hue-rotate(352deg) brightness(100%) contrast(102%);
}

.navbar-toggler {
    border: var(--bs-border-width) solid var(--bs-warning-text);
}
